# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment and virtual environment files
movrecenv

# Ignore csv files
movierec_site/homepage/dataset/my_movies.csv
movierec_site/homepage/dataset/my_ratings.csv

# Ignore IDE or editor files
.idea/
.vscode/

# Ignore database files
*.sqlite3

# Ignore static files collected by Django
/staticfiles/

# Ignore log files
*.log

# Ignore secret keys and sensitive information
*.secret